<?xml version="1.0" encoding="UTF-8"?>
<!-- Used by the swarm operator to dispatch formation shapes -->
<launch>
    <arg name="send_gains" default="true" />

    <!-- Load enlarged room bounds for simulation -->
    <rosparam ns="room_bounds">
        x_min: -60
        x_max:  60
        y_min: -60
        y_max:  60
    </rosparam>

    <!-- Start operator script -->
    <node name="operator" pkg="aclswarm" type="operator.py" output="screen">
        <param name="send_gains" value="$(arg send_gains)" />
    </node>

    <!-- Start visualization script -->
    <node name="viz_commands" pkg="aclswarm" type="viz_commands.py" output="screen">
        <param name="distcmds" value="true" />
        <param name="safecmds" value="true" />
    </node>
</launch>
