<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="veh" />

  <group ns="$(arg veh)">

    <!-- safety state machine -->
    <node name="safety" pkg="aclswarm" type="safety" output="screen">
      <param name="takeoff_inc" value="0.0035" />
      <param name="takeoff_alt" value="1.0" />
      <param name="takeoff_rel" value="true" />
      <param name="landing_fast_threshold" value="0.4" />
      <param name="landing_fast_dec" value="0.0035" />
      <param name="landing_slow_dec" value="0.001" />
    </node>

    <!-- coordinated control and assignment -->
    <node name="coordination" pkg="aclswarm" type="coordination" output="screen">
      <param name="auctioneer_dt" value="0.001" />
      <param name="autoauction_dt" value="0.5" />
      <param name="control_dt" value="0.01" />

      <!-- useful for auctioneer debugging -->
      <param name="verbose" value="true" />

      <param name="cntrl/K" value="4.0" />
      <param name="cntrl/kp" value="1.0" />
      <param name="cntrl/kd" value="0.0" />
    </node>

  </group>

</launch>
