<?xml version="1.0" encoding="UTF-8"?>
<!-- Used by the swarm operator to dispatch formation shapes -->
<launch>
    <arg name="formations" />
    <arg name="send_gains" default="false" />
    <arg name="central_assignment" default="false" />
    <arg name="load_vehicles" default="true" />
    <arg name="headless" default="false" />
    <arg name="leader" default="" />
    <arg name="dev" default="js0" />

    <!-- Load vehicles -->
    <rosparam if="$(arg load_vehicles)" file="$(find aclswarm)/param/vehicles.yaml" command="load"/>

    <!-- Start operator script -->
    <node name="operator" pkg="aclswarm" type="operator.py" output="screen">
        <rosparam file="$(find aclswarm)/param/formations.yaml" command="load"/>
        <param name="formation_group" value="$(arg formations)" />
        <param name="send_gains" value="$(arg send_gains)" />
        <param name="central_assignment" value="$(arg central_assignment)" />
        <param name="central_assignment_dt" value="1" />
    </node>

    <!-- Start visualization script -->
    <node name="viz_commands" pkg="aclswarm" type="viz_commands.py" output="screen">
        <param name="distcmds" value="true" />
        <param name="safecmds" value="true" />
        <param name="mesh" value="true" />
    </node>

    <!-- Start GUI -->
    <group unless="$(arg headless)">
        <node pkg="rqt_gui" type="rqt_gui" name="rqt_gui" args="--perspective-file $(find behavior_selector)/cfg/default.perspective" />
    </group>

    <!-- Start the joy node if a leader is specified -->
    <group if="$(eval arg('leader') != '')">
        <rosparam ns="/$(arg leader)/safety" param="leader">true</rosparam>
        <node ns="$(arg leader)" pkg="joy" type="joy_node" name="joystick" >
            <param name="dev" type="string" value="/dev/input/$(arg dev)" />
            <param name="dev_ff" value="" />
            <param name="deadzone" value="0.18" />
            <param name="autorepeat_rate" value="100" />
        </node>
    </group>
</launch>
