<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="veh" />
  <arg name="takeoff_alt" default="1.0" />
  <arg name="use_assignment" default="true" />

  <!-- Coordination components -->
  <include file="$(find aclswarm)/launch/coordination.launch">
    <arg name="veh" value="$(arg veh)" />
    <arg name="takeoff_alt" value="$(arg takeoff_alt)" />
    <arg name="use_assignment" value="$(arg use_assignment)" />
  </include>

  <!-- Localization components -->
  <include file="$(find aclswarm)/launch/localization.launch">
    <arg name="veh" value="$(arg veh)" />
  </include>

  <!-- throttle signals for external logging -->
  <group ns="$(arg veh)">
    <node pkg="topic_tools" type="throttle" name="throttle_state"
      args="messages state 30" />

    <node pkg="topic_tools" type="throttle" name="throttle_goal"
      args="messages goal 30" />

    <node pkg="topic_tools" type="throttle" name="throttle_distcmd"
      args="messages distcmd 30" />

    <node pkg="topic_tools" type="throttle" name="throttle_saftey_status"
      args="messages safety/status 30" />
  </group>

</launch>
