<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="veh" />
  <arg name="takeoff_alt" default="1.0" />

  <!-- Coordination components -->
  <include file="$(find aclswarm)/launch/coordination.launch">
    <arg name="veh" value="$(arg veh)" />
    <arg name="takeoff_alt" value="$(arg takeoff_alt)" />
  </include>

  <!-- Localization components -->
  <include file="$(find aclswarm)/launch/localization.launch">
    <arg name="veh" value="$(arg veh)" />
  </include>

</launch>
